<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <div class="card">
        <div class="card-header card-header-navy text-white text-center">
          <h4 class="mb-0">Ajouter un utilisateur</h4>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="mb-3">
              <label class="form-label">Nom</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name" placeholder="Entrez le nom">
            </div>
            <div class="mb-3">
              <label class="form-label">Nom d'utilisateur</label>
              <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username" placeholder="Entrez le nom d'utilisateur">
            </div>
            <div class="mb-3">
              <label class="form-label">Mot de passe</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" placeholder="Entrez le mot de passe">
            </div>
            <div class="mb-3">
              <label class="form-label">Rôle (Admin, User)</label>
              <input type="text" class="form-control" id="role" [(ngModel)]="user.role[0].roleName" name="role" placeholder="Admin ou User">
            </div>
            <button class="btn btn-success w-100" type="submit">Ajouter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>