<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <div class="card">
        <div class="card-header card-header-navy text-white text-center">
          <h4 class="mb-0">Ajouter un livre</h4>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="mb-3">
              <label class="form-label">Nom du livre</label>
              <input type="text" class="form-control" id="bookName" [(ngModel)]="book.bookName" name="bookName" placeholder="Entrez le nom du livre">
            </div>
            <div class="mb-3">
              <label class="form-label">Auteur</label>
              <input type="text" class="form-control" id="bookAuthor" [(ngModel)]="book.bookAuthor" name="bookAuthor" placeholder="Entrez l'auteur">
            </div>
            <div class="mb-3">
              <label class="form-label">Genre</label>
              <input type="text" class="form-control" id="bookGenre" [(ngModel)]="book.bookGenre" name="bookGenre" placeholder="Entrez le genre">
            </div>
            <div class="mb-3">
              <label class="form-label">Nombre de copies</label>
              <input type="number" class="form-control" id="noOfCopies" [(ngModel)]="book.noOfCopies" name="noOfCopies" placeholder="Nombre de copies">
            </div>
            <button class="btn btn-success w-100" type="submit">Ajouter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>