<div class="container mt-4">
  <h2 class="page-title"><lucide-icon name="book-open" class="w-6 h-6"></lucide-icon> Historique d'emprunt de {{ book.bookName }}</h2>
  <div class="table-responsive-wrapper">
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th>ID Utilisateur</th>
          <th>Date d'emprunt</th>
          <th>Date de retour</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let borrower of borrow">
          <td>{{ borrower.userId }}</td>
          <td>{{ borrower.issueDate }}</td>
          <td *ngIf="borrower.returnDate != null">{{ borrower.returnDate }}</td>
          <td *ngIf="borrower.returnDate === null">Livre non retourné</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
